* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f2f5fa;
  color: #333;
}

#root {
  height: 100%;
  width: 100%;
}
